@import "tailwindcss";

html,body {
  /* background-image: radial-gradient(#fff1852b 1px, transparent 1px); */
  background-image: radial-gradient(#ffffff2b 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: black;
  background-attachment: fixed;
  animation: moveBackground 4s linear infinite;
  font-family: "Orbitron", sans-serif;
  scroll-behavior: smooth;
  min-width: 320px;
  -webkit-user-drag: none;
  user-select: none;
}

#container{
  background-image: radial-gradient(transparent 1px, #000000d3 1000px);
  background-size: cover;
  background-attachment: fixed;
}

/* Animation to move the background upward infinitely */
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -20px; /* same as background-size height */
  }
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: #FFF085;
  border-radius: 20px;
}
/* Change toast progress bar color */
.toast-success .Toastify__progress-bar {
  background: #FFF085 !important; /* Change to your color */
}
/* Background behind the progress bar */
.toast-success .Toastify__progress-bar-theme--dark {
  background: #fff18568 !important;  /* your custom background */
}
/* Success Tick Icon Color */
.toast-success .Toastify__toast-icon > svg {
  fill: #FFF085 !important; /* your color */
}
.text-glow {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

