@import "tailwindcss";

html,body {
  background-image: radial-gradient(#fff1852b 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: black;
  animation: moveBackground 4s linear infinite;
  font-family: "Orbitron", sans-serif;
  scroll-behavior: smooth;
}

/* Animation to move the background upward infinitely */
@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -20px; /* same as background-size height */
  }
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: black;
}
::-webkit-scrollbar-thumb{
  background-color: #FFF085;
  border-radius: 20px;
}